{% extends 'base.html' %}
{% block content %}

<h1>You can contact us through</h1>
<a href="https://mail.google.com/mail" style="text-decoration: none; color:inherit;"> <i class="fa-solid fa-envelope">    youremailhere@email.com</i> </a> <br>
<a href="https://www.linkedin.com/" style="text-decoration: none; color:inherit;"> <i class="fa-brands fa-linkedin"> Insert LinkedIn Here</i> </a> <br>
<a href="https://www.w3.org/Provider/Style/dummy.html" style="text-decoration: none; color:inherit;"><i class="fa-solid fa-globe"> insertwebsitehere.com</i> </a> <br>
{% endblock %}